In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
ins = pd.read_csv('datasets/insurance.csv')
ins.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [3]:
ins.shape

(1338, 7)

In [13]:
ins_corr = ins.corr()
ins_corr

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [5]:
from sklearn import preprocessing
label_encoding = preprocessing.LabelEncoder()

In [14]:
ins['region'] = label_encoding.fit_transform(ins['region'].astype(str))

In [15]:
ins.head()

   age     sex     bmi  children smoker  region      charges
0   19  female  27.900         0    yes       3  16884.92400
1   18    male  33.770         1     no       2   1725.55230
2   28    male  33.000         3     no       2   4449.46200
3   33    male  22.705         0     no       1  21984.47061
4   32    male  28.880         0     no       1   3866.85520

In [9]:
label_encoding.classes_

array(['northeast', 'northwest', 'southeast', 'southwest'], dtype=object)

In [16]:
ins = pd.get_dummies(ins, columns=['sex', 'smoker'])
ins.sample(10)

,age,bmi,children,region,charges,sex_female,sex_male,smoker_no,smoker_yes
1205,35,17.860,1,1,5116.50040,0,1,1,0
897,19,25.555,1,1,2221.56445,0,1,1,0
1238,37,22.705,3,0,6985.50695,0,1,1,0
536,33,38.900,3,3,5972.37800,1,0,1,0
542,63,36.300,0,2,13887.20400,1,0,1,0
54,40,28.690,3,1,8059.67910,1,0,1,0
766,47,32.300,1,3,8062.76400,0,1,1,0
290,28,33.400,0,3,3172.01800,1,0,1,0
95,28,37.620,1,2,3766.88380,1,0,1,0
219,24,23.210,0,2,25081.76784,1,0,1,0

In [17]:
ins.to_csv('datasets/insurance_processed.csv', index=False)

In [18]:
!ls datasets

driver_dataset.csv  insurance_processed.csv  PimaIndians_processed.csv
insurance.csv	    PimaIndians.csv

In [19]:
ins = pd.read_csv('datasets/insurance_processed.csv')
ins.head(10)

,age,bmi,children,region,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,3,16884.92400,1,0,0,1
1,18,33.770,1,2,1725.55230,0,1,1,0
2,28,33.000,3,2,4449.46200,0,1,1,0
3,33,22.705,0,1,21984.47061,0,1,1,0
4,32,28.880,0,1,3866.85520,0,1,1,0
5,31,25.740,0,2,3756.62160,1,0,1,0
6,46,33.440,1,2,8240.58960,1,0,1,0
7,37,27.740,3,1,7281.50560,1,0,1,0
8,37,29.830,2,0,6406.41070,0,1,1,0
9,60,25.840,0,1,28923.13692,1,0,1,0

In [20]:
X = ins.drop('charges', axis=1)
Y = ins['charges']

In [21]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [22]:
x_train.shape, x_test.shape

((1070, 8), (268, 8))

In [24]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor

In [26]:
bag_reg = BaggingRegressor(DecisionTreeRegressor(),
                          n_estimators=500,
                          bootstrap=True,
                          max_samples=0.8,
                          n_jobs=-1,
                          oob_score=True)

bag_reg.fit(x_train, y_train)

BaggingRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                      criterion='mse',
                                                      max_depth=None,
                                                      max_features=None,
                                                      max_leaf_nodes=None,
                                                      min_impurity_decrease=0.0,
                                                      min_impurity_split=None,
                                                      min_samples_leaf=1,
                                                      min_samples_split=2,
                                                      min_weight_fraction_leaf=0.0,
                                                      presort='deprecated',
                                                      random_state=None,
                                                      splitter='best'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=0.8, n_estimators=500, n_jobs=-1, oob_score=True,
                 random_state=None, verbose=0, warm_start=False)

In [27]:
bag_reg.oob_score_

0.838983054701878

In [28]:
from sklearn.metrics import r2_score

y_pred = bag_reg.predict(x_test)

r2_score(y_test, y_pred)

0.8650314999084264

In [29]:
bag_reg = BaggingRegressor(DecisionTreeRegressor(),
                          n_estimators=500,
                          bootstrap=False,
                          max_samples=0.9,
                          n_jobs=-1)

bag_reg.fit(x_train, y_train)

BaggingRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                      criterion='mse',
                                                      max_depth=None,
                                                      max_features=None,
                                                      max_leaf_nodes=None,
                                                      min_impurity_decrease=0.0,
                                                      min_impurity_split=None,
                                                      min_samples_leaf=1,
                                                      min_samples_split=2,
                                                      min_weight_fraction_leaf=0.0,
                                                      presort='deprecated',
                                                      random_state=None,
                                                      splitter='best'),
                 bootstrap=False, bootstrap_features=False, max_features=1.0,
                 max_samples=0.9, n_estimators=500, n_jobs=-1, oob_score=False,
                 random_state=None, verbose=0, warm_start=False)

In [30]:
y_pred = bag_reg.predict(x_test)
r2_score(y_test, y_pred)

0.831115849285512